* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Create DOM Elements */

body {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}

header {
	margin: 2rem;
}

.btnContainer {
	display: flex;
	justify-content: center;
	list-style: none;
}

.btnItem {
	border: none;
	background: none;
	color: antiquewhite;
	cursor: pointer;
	display: inline;
	font-size: 5rem;
	margin: 5rem;
	text-align: center;
}

h2,
#app h1,
#app h3 {
	text-align: center;
	color: #fff;
}

@media only screen and (max-width: 750px) {
	.btnItem {
		font-size: 3rem;
		margin: 3rem;
		text-align: center;
	}
	h2,
	#app h1,
	#app h3 {
		font-size: smaller;
	}
}

@media only screen and (max-width: 750px) {
	.btnItem {
		font-size: 2.5rem;
		margin: 3rem;
		text-align: center;
	}
}
